@model CenterWebMake.Models.AchievementShow
@{
    ViewBag.Title = "CenterNews";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CenterNews</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <script src="http://cdn.bootcss.com/echarts/3.3.2/echarts.min.js"></script>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="/assets/css/app.css">
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
    <link href="/Content/css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="/font/iconfont.css">
    <link rel="stylesheet" href="/Content/css/form.css">

</head>

<body data-type="index">
    <script src="/assets/js/theme.js"></script>
    <div class="am-g tpl-g">
        <!-- 头部 -->
        <header>
            <!-- logo -->
            <div class="am-fl tpl-header-logo">
                <a href="javascript:;"><img src="/assets/img/logo.png" alt=""></a>
            </div>
            <!-- 右侧内容 -->
            <div class="tpl-header-fluid">
                <!-- 侧边切换 -->
                <div class="tpl-header-switch-button">
                    <em style="font-size:20px;font-style:normal;cursor:pointer">&#9776;</em><span style="font-size:20px;cursor:pointer" onclick="OpenNav(),CssNav()">展开</span>

                </div>
                <!-- 搜索 -->
                <div class="am-fl tpl-header-search">
                    <form class="tpl-header-search-form" action="javascript:;">
                        <button class="tpl-header-search-btn am-icon-search"></button>
                        <input class="tpl-header-search-box" type="text" placeholder="搜索内容...">
                    </form>
                </div>
                <!-- 其它功能-->
                <div class="am-fr tpl-header-navbar">
                    <ul>
                        <!-- 欢迎语 -->
                        <li class="am-text-sm tpl-header-navbar-welcome">
                            <a href="javascript:;">欢迎你, <span>Amaze UI</span> </a>
                        </li>

                        <!-- 新邮件 -->
                        <li class="am-dropdown tpl-dropdown" data-am-dropdown>
                            <a href="javascript:;" class="am-dropdown-toggle tpl-dropdown-toggle" data-am-dropdown-toggle>
                                <i class="am-icon-envelope"></i>
                                <span class="am-badge am-badge-success am-round item-feed-badge">4</span>
                            </a>
                            <!-- 弹出列表 -->
                            <ul class="am-dropdown-content tpl-dropdown-content">
                                <li class="tpl-dropdown-menu-messages">
                                    <a href="javascript:;" class="tpl-dropdown-menu-messages-item am-cf">
                                        <div class="menu-messages-ico">
                                            <img src="/assets/img/user04.png" alt="">
                                        </div>
                                        <div class="menu-messages-time">
                                            3小时前
                                        </div>
                                        <div class="menu-messages-content">
                                            <div class="menu-messages-content-title">
                                                <i class="am-icon-circle-o am-text-success"></i>
                                                <span>夕风色</span>
                                            </div>
                                            <div class="am-text-truncate"> Amaze UI 的诞生，依托于 GitHub 及其他技术社区上一些优秀的资源；Amaze UI 的成长，则离不开用户的支持。 </div>
                                            <div class="menu-messages-content-time">2016-09-21 下午 16:40</div>
                                        </div>
                                    </a>
                                </li>

                                <li class="tpl-dropdown-menu-messages">
                                    <a href="javascript:;" class="tpl-dropdown-menu-messages-item am-cf">
                                        <div class="menu-messages-ico">
                                            <img src="/assets/img/user02.png" alt="">
                                        </div>
                                        <div class="menu-messages-time">
                                            5天前
                                        </div>
                                        <div class="menu-messages-content">
                                            <div class="menu-messages-content-title">
                                                <i class="am-icon-circle-o am-text-warning"></i>
                                                <span>禁言小张</span>
                                            </div>
                                            <div class="am-text-truncate"> 为了能最准确的传达所描述的问题， 建议你在反馈时附上演示，方便我们理解。 </div>
                                            <div class="menu-messages-content-time">2016-09-16 上午 09:23</div>
                                        </div>
                                    </a>
                                </li>
                                <li class="tpl-dropdown-menu-messages">
                                    <a href="javascript:;" class="tpl-dropdown-menu-messages-item am-cf">
                                        <i class="am-icon-circle-o"></i> 进入列表…
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- 新提示 -->
                        <li class="am-dropdown" data-am-dropdown>
                            <a href="javascript:;" class="am-dropdown-toggle" data-am-dropdown-toggle>
                                <i class="am-icon-bell"></i>
                                <span class="am-badge am-badge-warning am-round item-feed-badge">5</span>
                            </a>

                            <!-- 弹出列表 -->
                            <ul class="am-dropdown-content tpl-dropdown-content">
                                <li class="tpl-dropdown-menu-notifications">
                                    <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                        <div class="tpl-dropdown-menu-notifications-title">
                                            <i class="am-icon-line-chart"></i>
                                            <span> 有6笔新的销售订单</span>
                                        </div>
                                        <div class="tpl-dropdown-menu-notifications-time">
                                            12分钟前
                                        </div>
                                    </a>
                                </li>
                                <li class="tpl-dropdown-menu-notifications">
                                    <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                        <div class="tpl-dropdown-menu-notifications-title">
                                            <i class="am-icon-star"></i>
                                            <span> 有3个来自人事部的消息</span>
                                        </div>
                                        <div class="tpl-dropdown-menu-notifications-time">
                                            30分钟前
                                        </div>
                                    </a>
                                </li>
                                <li class="tpl-dropdown-menu-notifications">
                                    <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                        <div class="tpl-dropdown-menu-notifications-title">
                                            <i class="am-icon-folder-o"></i>
                                            <span> 上午开会记录存档</span>
                                        </div>
                                        <div class="tpl-dropdown-menu-notifications-time">
                                            1天前
                                        </div>
                                    </a>
                                </li>


                                <li class="tpl-dropdown-menu-notifications">
                                    <a href="javascript:;" class="tpl-dropdown-menu-notifications-item am-cf">
                                        <i class="am-icon-bell"></i> 进入列表…
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="layui-nav-item">
                            <a href="#" class="admin-header-user">
                                <img src="../assets/img/0.jpg" />
                                <span>beginner</span>
                            </a>
                        </li>
                        <!-- 退出 -->
                        <li class="am-text-sm">
                            <a href="javascript:;">
                                <span class="am-icon-sign-out"></span> 退出
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </header>
        <!-- 风格切换 -->
        <div class="tpl-skiner">
            <div class="tpl-skiner-toggle am-icon-cog">
            </div>
            <div class="tpl-skiner-content">
                <div class="tpl-skiner-content-title">
                    选择主题
                </div>
                <div class="tpl-skiner-content-bar">
                    <span class="skiner-color skiner-white" data-color="theme-white"></span>
                    <span class="skiner-color skiner-black" data-color="theme-black"></span>
                </div>
            </div>
        </div>
        <!-- 侧边导航栏 -->
        <div class="left-sidebar">
            <!-- 菜单 -->
            <ul class="sidebar-nav">
                <li class="sidebar-nav-link">
                    <a href="Backindex" class="active">
                        <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="javascript:;" class="sidebar-nav-sub-title">
                        <i class="am-icon-table sidebar-nav-link-logo"></i> 表单创建
                        <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
                    </a>
                    <ul class="sidebar-nav sidebar-nav-sub">
                        <li class="sidebar-nav-link">
                            <a href="CenterNews">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 中心新闻
                            </a>
                        </li>

                        <li class="sidebar-nav-link">
                            <a href="LabIntroduce">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 实验室简介
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="AchievementShow">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 成果公告
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="AcademicExchange">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 学术交流
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="CuturalActive">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 文化活动
                            </a>
                        </li>
                        <li class="sidebar-nav-link">
                            <a href="Notice">
                                <span class="am-icon-angle-right sidebar-nav-link-logo"></span> 通知公告
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-nav-link">
                    <a href="DataDisplay">
                        <i class="am-icon-calendar sidebar-nav-link-logo"></i> 数据列表
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="PhotoControl">
                        <i class="am-icon-calendar sidebar-nav-link-logo"></i> 图片管理
                    </a>
                </li>

                <li class="sidebar-nav-link">
                    <a href="LeavingMessage">
                        <i class="am-icon-bar-chart sidebar-nav-link-logo"></i> 留言信息

                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="LeaderMessge">
                        <i class="am-icon-key sidebar-nav-link-logo"></i> 领导信箱
                    </a>
                </li>

            </ul>
        </div>


        <!-- 内容区域 -->
        <div id="zhankai" class="tpl-content-wrapper1">
            <div style="width: 100%;height: 100%">
                <div class="toubu">
                    <div class="tb-Create">
                        <div class="tb-Create-Content">
                            <span class="am-icon-home1 sizeheight ">成果公告表单创建</span>
                        </div>
                    </div>
                </div>
                @using (Html.BeginForm("AchievementShow", "BackStage", FormMethod.Post, new { @class = "ContentCenterNews" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form1">
                        <div class="formlabelname1">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "titleRecieve" })
                            @*<label class="titleRecieve">标题</label>*@
                        </div>
                        <div class="formeditor1">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "ContentTitle", placeholder = "请输入标题" } })
                            @*<input type="text" name="title" placeholder="请输入标题" class="ContentTitle">*@
                        </div>
                    </div>
                   
                    <div class="form1">
                        <div class="formlabelname1">
                            @Html.LabelFor(model => model.IsPublich, htmlAttributes: new { @class = "titleRecieve" })
                            @*<label class="titleRecieve">发布日期</label>*@
                        </div>
                        <div class="formeditor1">
                            @Html.EditorFor(model => model.IsPublich, new { htmlAttributes = new { @class = "ContentTitle" } })
                            @*<input type="text" name="title" placeholder="请输入标题" class="ContentTitle">*@
                        </div>
                    </div>
                    <div class="form1">
                        <div class="formlabelname1">
                            @Html.LabelFor(model => model.PublishDate, htmlAttributes: new { @class = "titleRecieve" })
                            @*<label class="titleRecieve">创建者</label>*@
                        </div>
                        <div class="formeditor1">
                            @Html.EditorFor(model => model.PublishDate, new { htmlAttributes = new { @class = "ContentTitle", placeholder = "请输入发布日期" } })
                            @*<input type="text" name="title" placeholder="请输入标题" class="ContentTitle">*@
                        </div>
                    </div>
                    <div class="form1">
                        <div class="formlabelname1">
                            @Html.LabelFor(model => model.CreateUser, htmlAttributes: new { @class = "titleRecieve" })
                            @*<label class="titleRecieve">创建日期</label>*@
                        </div>
                        <div class="formeditor1">
                            @Html.EditorFor(model => model.CreateUser, new { htmlAttributes = new { @class = "ContentTitle", placeholder = "请输入创建者" } })
                            @*<input type="text" name="title" placeholder="请输入标题" class="ContentTitle">*@
                        </div>
                    </div>
                    <div class="form1">
                        <div class="formlabelname1">
                            @Html.LabelFor(model => model.CreateDate, htmlAttributes: new { @class = "titleRecieve" })
                            @*<label class="titleRecieve">更新者</label>*@
                        </div>
                        <div class="formeditor1">
                            @Html.EditorFor(model => model.CreateDate, new { htmlAttributes = new { @class = "ContentTitle", placeholder = "请输入创建日期" } })
                            @*<input type="checkbox" class="checkboxposition">*@
                        </div>
                    </div>
                    <div class="form1">
                        <div class="formlabelname1">
                            @Html.LabelFor(model => model.UpdateDate, htmlAttributes: new { @class = "titleRecieve" })
                            @*<label class="titleRecieve">更新时间</label>*@
                        </div>
                        <div class="formeditor1">
                            @Html.EditorFor(model => model.UpdateDate, new { htmlAttributes = new { @class = "ContentTitle", placeholder = "请输入更新日期" } })
                            @*<input type="text" name="title" placeholder="请输入标题" class="ContentTitle">*@
                        </div>                      
                    </div>
                    <div class="form1">
                        <div class="formlabelname1">
                            @Html.LabelFor(model => model.ContentText, htmlAttributes: new { @class = "titleRecieve " })
                            @*<label class="titleRecieve">文本内容</label>*@
                        </div>
                        <div class="formeditor2">
                            @Html.EditorFor(model => model.ContentText, new { htmlAttributes = new { @class = "ContentTitle1", placeholder = "请输入文本内容" } })
                            @*<input type="text" name="title" placeholder="请输入文本内容" class="ContentTitle">*@
                        </div>
                    </div>
                    <div class="Createbuttonarea">
                        <div class="CB-area">
                            <input type="submit" value="Create" class="CB-button">
                        </div>
                    </div>
                }
                <div>
                    @Html.ActionLink("Back to CN", "index")
                </div>
            </div>

        </div>

    </div>


    <script src="http://cdn.bootcss.com/amazeui/2.7.2/js/amazeui.min.js"></script>
    <script src="/assets/js/amazeui.datatables.min.js"></script>
    <script src="/assets/js/dataTables.responsive.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.SuperSlide.2.1.1.js"></script>
    <script src="/js/js.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/jquery1.42.min.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
    function OpenNav(){
        if( $(".tpl-header-switch-button span").html()=="展开"){
            document.getElementById("zhankai").style.width = "1350px";
            $(".tpl-header-switch-button span").html("关闭");
        }else
        {
            document.getElementById("zhankai").style.width = "1104px";
            $(".tpl-header-switch-button span").html("展开");
        }

    }
    </script>
</body>

</html>